body .tatoo.layui-layer{
    background-color: transparent;
}

body .tatoo .layui-layer-title {

}

body .tatoo .layui-layer-content{
    display: block;
    text-align: center;
    padding: 20px;
    background-color: #2a2b2d;
    border-radius:4px;
    border: solid 1px #c5bba0;
}

body .tatoo .layui-layer-content>a,h2,p{
    color: #c5bba0;
    font-size:28rem;
}